/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f.xml
/app/src/main/java/com/reduceco2now/App.java
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/co2diet.OnpiNQ.meta
/.idea/compiler.xml
/.idea/data_source_mapping.xml
/.idea/dataSources/data_sources_history.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/co2diet.OnpiNQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/co2diet.OnpiNQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/co2diet.OnpiNQ/schema/public.abK9xQ.meta
/.idea/dataSources/0e7a8588-a0fc-4bd2-ba44-99c78d8bcc9f/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
